body {
  margin: 0
  font-family: Arial, sans-serif
}

.logo {
  width: 80px
}

.nav-buttons {
  margin: 10px 0
}

button {
  margin: 3px
  cursor: pointer
}

.search-box {
  margin-bottom: 40px
}

.search-box input {
  padding: 5px
}

.content-logo {
  width: 90px
}

